/* CSS Document */

html{
  padding:0px;
  margin: 0px
}

body{

  background-color: white;
}

.container{

  margin-left: auto;
  margin-right: auto;
  background-color: #215c61;
  width: 80vw;
  height: auto;
  color:white;

}

.wrapper{

  margin-left: auto;
  margin-right: auto;
  width: 40vw;
}
.intro{
  margin: 0 auto;
  text-align: center;
  width: 30vw;
}



.scoreboard{

  margin: 0 auto;
  
  width: 35vw;
  margin-bottom: 5rem;
  
  display: flex;
}

.userscore, .computerscore{

  border: 2px solid black;
  width: 20%;
  height: auto;
  padding: 2%;
  text-align: center;
  background-color: #cfbfbf;
  color: darkblue;
  box-shadow: 0cm;
  text-transform: uppercase;
  margin: 0 auto;
}

.winner{

  border: 5px solid red;
  width: auto;
  font-size: 5rem;
  margin: 0 auto;
  text-align: center;
}




.userselections {

  
  width: 40vw;
  height: 2rem;
  padding: 2%;
  margin: 9 auto;
  
  display: inline-flex;
}

.userselections button {

  width: 8rem;
  height: 4rem;
  border: 2px solid black;
  cursor: pointer;
  margin: 0 auto;
}

.userselections button:hover {

  color: white;
  background-color: slategray;
}



.selections{

  display: flex;
  margin: 0 auto;
  width: 30vw;
}

.game-selection{

  
  margin: 50px;
  width: 100px;
  font-size: 20px;

  


}


